

.navbar{
    height: 72px;
    background-color: #B3B3B3;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {

  margin-right: 20px; 
}

.nav-link{
    color: #000;
}

.nav-link:hover{
    color: #414141;
}